<%= render "home/menu" %>

<style type="text/css">
  p{ 
  font-size: 17px;
  margin-left: 15px;
  } 
</style>

<div class="row" style="
  padding: 50px; 
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #D8D8D8; 
  margin-right:30px; 
  margin-left:30px;
  margin-top: 15px;
  margin-bottom:22px;"
>
  
<%= form_for Reservation.new , url: {action:"buscar"} do |f| %>
  <div class="row" style="padding: 10px;">
    <div class="col-md-5">
      <%= f.label "Fecha de inicio" %>
      <%= f.date_select :start_date, :order => [:day, :month, :year] %>
    </div>
    <div class="col-md-5">
      <%= f.label "Fecha de Fin" %>
      <%= f.date_select :end_date, :order => [:day, :month, :year] %>
    </div>
    <div class="col-md-2">
      <%= f.submit "Buscar", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

</div> 


<div class="row" style="
  padding: 50px; 
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #D8D8D8; 
  margin-right:30px; 
  margin-left:30px;
  margin-top: 15px;
  margin-bottom:40px;"
>     
  <div class="row">
    <div class="col-md-12"><h2>Ganacias</h2></div>
  </div>


  <div class="row" style="background-color:#F2F2F2">
    <div class="col-md-12">
      <table class="table">
   <tr>
       <td>Usuario</td>
       <td>Pago</td>
       <td>Fecha de Pago</td>
   </tr>
   <% total = 0 %>
   <%  
    @users.each do |user|  
   %>
       <tr>
          <td>
             <%= link_to user.first_name, user %>
          </td>
          <td>
        $ <%= user.pago %>
          </td>
          <td>
        <%= user.fechaPago.strftime("%d/%m/%Y") %>
        <% total+= user.pago %>
          </td>
         

       </tr> 
   <%  end %>
   <tr>
    <td collspan="3">
      TOTAL =: $ <%= total %>
    </td>
  </tr>
</table>
    </div>
  </div>
</div>
