<%= render "home/menu" %>

<div class="container">
	<h1> Editar un couch </h1>

	<%= form_for @couch , url: {action:"update"} do |f| %>
		<div class="row">
			<div class="col-md-6">
				<%= f.label :titulo %>
  				<%= f.text_area :titulo, class: 'form-control', label: 'titulo', placeholder: 'Ingrese el titulo', :required => true %>
  			</div>
  		</div>

		<div class="row">
			<div class="col-md-6">
				<%= f.label :descripcion %>
  				<%= f.text_area :descripcion, class: 'form-control', label: 'descripcion', placeholder: 'Ingrese la descripcion', :required => true %>
  			</div>
  		</div>

  		<div class="row">
			<div class="col-md-6">
				<%= f.label "Tipo de Couch" %>
  				<%= collection_select :couch, :couch_type_id, CouchType.all, :id, :titulo %>
  			</div>
  		</div>

  		<div class="row">
			<div class="col-md-6">
				<%= f.label "Imagen" %>
  				<%= f.file_field (:url_foto) %>
  			</div>
  		</div>
      <br>
  		<%= f.submit "CONFIRMAR EDICION", class: 'btn btn-primary' %>
  	</div>
<% end %>
</div>