<%= render "home/menu" %>

<table class="table">
	<tr>
    	<td colspan="2"><h3> Listado de Couchs </h3></td>
    	<td colspan="2"> 
    	<% if current_user and can? :create, Couch %>
			<%= link_to "Agregar", new_couch_path() , class: 'btn btn-success btn-sm'
			%>
		<% end %>
    	</td>
	<tr>
		<th> Título </th>
		<th> Descripción </th>
		<th> User id </th>
		<th> Opciones </th>
	</tr>

	<% couchs = Couch.all %>
	<% couchs.each do |couch| %>
		<tr>
			<td> <%= link_to couch.titulo, couch %> </td>
			<td> <%= couch.descripcion %> </td>
			<td> <%= couch.user_id %> </td>
			<td>
			<% if current_user and can? :update, couch and can? :destroy, couch %>
				<%= link_to "Editar", edit_couch_path(couch), class: 'btn btn-info btn-sm' %>
				<%= link_to "Eliminar", couch, method: :delete, class: 'btn btn-danger btn-sm' %>
			<% end %>
			</td>
		</tr>
	<% end %>


</table>