<h1> Couch</h1>

<table class="table">
	<tr>
		<td>Titulo</td>
		<td>Descripcion</td>
		<td>Tipo</td>
		<td>Estado</td>
		<td>Usuario</td>
		<td>Foto</td>
	</tr>
	<tr>
		<td> <%= @couch.titulo %> </td>  
		<td> <%= @couch.descripcion %> </td> 
		<td> <%= @couch.couch_type_id %> </td>  
		<td> <%= (@couch.enable) ? "Disponible" : "Usurpado"  %> </td>
		<td> <%= @couch.user_id %> </td>  
		<td> <%= @couch.url_foto %> </td>
	</tr>
	

</table>