<div class="row" >
	<div class="col-md-4">
		<h3>CouchInn!!!</h3> 
	</div>
	<div class="col-md-2"><br>
		<% if current_user %> 
			<%= button_to 'Logout', destroy_user_session_path, method: :delete %> 
		<% else %>
    		<%= link_to 'Login', new_user_session_path %>
		<% end %>
	</div>

	<div class="col-md-2"><br>
		<%= link_to 'Lista de Couchs', couchs_path %>
	</div>

	<div class="col-md-2"><br>
		<% if current_user %> 
		<% if can? :manage, :all %>
			<%= link_to 'Lista de Usuarios', users_path %> 		
		<% end %>
		<% end %>
	</div>

	<div class="col-md-2"><br>
		<% if current_user %> 
		<% if can? :manage, :all %>
			<%= link_to 'Agregar tipo de couch', "/couch_type" %>  
		<% end %>
		<% end %>
	</div>
</div><br><br>

<h1> Couch</h1>

<table class="table">
	<tr>
		<td>Titulo</td>
		<td>Descripcion</td>
		<td>Tipo</td>
		<td>Estado</td>
		<td>Usuario</td>
		<td>Foto</td>
	</tr>
	<tr>
		<td> <%= @couch.titulo %> </td>  
		<td> <%= @couch.descripcion %> </td> 
		<td> <%= @couch.couch_type_id %> </td>  
		<td> <%= (@couch.enable) ? "Disponible" : "No Disponible"  %> </td>
		<td> <%= @couch.user_id %> </td>  
		<td> <%= @couch.url_foto %> </td>
	</tr>
	

</table>