<%= render "home/menu" %>

<h1> Couch</h1>
<%= image_tag @couch.url_foto %>
<table class="table">
	<tr>
		<td>Titulo</td>
		<td>Descripcion</td>
		<td>Tipo</td>
		<td>Estado</td>
		<td>Usuario</td>
	</tr>
	<tr>
		<td> <%= @couch.titulo %> </td>  
		<td> <%= @couch.descripcion %> </td> 
		<td> <%= CouchType.find( @couch.couch_type_id).titulo %> </td>  
		<td> <%= (@couch.enable) ? "Disponible" : "No Disponible"  %> </td>
		<td> <%= link_to User.find( @couch.user_id ).first_name , User.find(@couch.user_id) %> </td>  
	</tr>
	<tr>
		<td>
			<%= link_to "Reservar", reservation_path , class: 'btn btn-success btn-sm' %>
		</td>
	</tr>
	
	

</table>