<h1>CouchInn!!! </h1>

<% if current_user %> 	
    <h3>Bienvenido <%= current_user.email %></h3><br>
    <% if can? :manage, :all %>
        <%= link_to 'Lista de Usuarios', users_path %> 
        <%= link_to 'Agregar tipo de couch', "couch_type" %>        
    <% end %>
    <br>
    <%= link_to 'Lista de Couchs', couchs_path %>
    <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
  
<% else %>
    <%= link_to 'Login', new_user_session_path %>
<% end %>


