<%= render "home/menu" %>


<% if can? :update,  @couch_type %>
<div class="container">
	<h1> EDITA UN COUCH !!!!!!</h1>

	<%= form_for @couch_type , url: {action:"update"} do |f| %>
		<div class="row">
			<div class="col-md-6">
				<%= f.label :id %>
  				<%= f.text_area :id, class: 'form-control', label: 'id', placeholder: 'id' %>
  			</div>
  		</div>
		<div class="row">
			<div class="col-md-6">
				<%= f.label :titulo %>
  				<%= f.text_area :titulo, class: 'form-control', label: 'titulo', placeholder: 'Ingrese el titulo del couch' %>
  			</div>
  		</div>

		<div class="row">
			<div class="col-md-6">
				<%= f.label :descripcion %>
  				<%= f.text_area :descripcion, class: 'form-control', label: 'descripcion', placeholder: 'Ingrese la descripcion' %>
  			</div>
  		</div>
  		<div class="row">
			<div class="col-md-6">
				<%= f.label :enabled %>
  				<%= f.check_box :enabled, class: 'form-control', label: 'enabled' %>
  			</div>
  		</div>

  		<%= f.submit "Crear couch tipo", class: 'btn btn-primary' %>
  	</div>
<% end %>
</div>
<% else %>
	no tiene los permisos suficientes para admin
<% end %>