<div class="row" >
	<div class="col-md-4">
		<h3>CouchInn!!!</h3> 
	</div>
	<div class="col-md-2"><br>
		<% if current_user %> 
			<%= button_to 'Logout', destroy_user_session_path, method: :delete %> 
		<% else %>
    		<%= link_to 'Login', new_user_session_path %>
		<% end %>
	</div>

	<div class="col-md-2"><br>
		<%= link_to 'Lista de Couchs', couchs_path %>
	</div>

	<div class="col-md-2"><br>
		<% if current_user %> 
		<% if can? :manage, :all %>
			<%= link_to 'Lista de Usuarios', users_path %> 		
		<% end %>
		<% end %>
	</div>

	<div class="col-md-2"><br>
		<% if current_user %> 
		<% if can? :manage, :all %>
			<%= link_to 'Agregar tipo de couch', "couch_type" %>  
		<% end %>
		<% end %>
	</div>
</div><br><b

<% if can? :create,  @couch_type %>

<div class="container">
	<h1> Crear un tipo de couch </h1>

	<%= form_for @couch_type , url: {action:"create"} do |f| %>
		<div class="row">
			<div class="col-md-6">
				<%= f.label :titulo %>
  				<%= f.text_area :titulo, class: 'form-control', label: 'titulo', placeholder: 'Ingrese el titulo del couch' %>
  			</div>
  		</div>

		<div class="row">
			<div class="col-md-6">
				<%= f.label :descripcion %>
  				<%= f.text_area :descripcion, class: 'form-control', label: 'descripcion', placeholder: 'Ingrese la descripcion' %>
  			</div>
  		</div>

  		<%= f.submit "Crear couch", class: 'btn btn-primary' %>
  	</div>
<% end %>
</div>

<% else %>
	no tiene los permisos suficientes para admin
<% end %>