<%= render "home/menu" %>


<style type="text/css">
  p{ 
  font-size: 17px;
  margin-left: 15px;
  } 
</style>

<div class="row" style="
  padding: 50px; 
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #D8D8D8; 
  margin-right:30px; 
  margin-left:30px;
  margin-top: 15px;
  margin-bottom:100px;"
>   


  <div class="row">
    <div class="col-md-10"><h2>Reservas totales</h2></div>
    <div class="col-md-2">
      <%= form_for Reservation.new , url: {action:"buscar"} do |f| %>
          <%= f.date_select :start_date, { :discard_day => true, :discard_month => true, :discard_year => true }  %>
          <%= f.date_select :end_date, { :discard_day => true, :discard_month => true, :discard_year => true }  %>
          <%= f.submit "Buscar", class: 'btn btn-primary', style:"margin-top:15px;" %>
      <% end %>
    </div>
  </div>

  <div class="row" style="background-color:#F2F2F2">
    <div class="col-md-12">
      <table class="table">
   <tr>
       <td>Usuario</td>
       <td>Fecha Inicio</td>
       <td>Fecha Final</td>
       <td>Couch</td>
       <td>Estado</td>

    </tr>

   

   <%  
   Reservation.all.each do |res|  
   %>
       <tr>
          <td>
        <%= link_to User.find(res.user_id).first_name, User.find(res.user_id)  %>
          </td>
          <td>
        <%= res.start_date %>
          </td>
          <td>
        <%= res.end_date %>
          </td>
          <td>
        <%= link_to Couch.find(res.couch_id).titulo, Couch.find(res.couch_id) %>
          </td>
           <td>
        <%= res.estado %>
          </td>
       </tr> 
   <% end %>
</table>
    </div>
  </div>
</div>

