<%= render "home/menu" %>

<style type="text/css">
  .mensaje{
    margin: 25px;
    width: 650px;
    height: auto;
    font-size: 18px;
    padding: 6px;
    border-radius: 12px;
  }
</style> 

<div class="container">

  <%= form_for Reservation.new , url: {action:"show"} do |f| %>
    <div class="row">
      <div class="col-md-6">
        <%= f.label "Fecha de inicio" %>
          <%= f.date_select :start_date, :order => [:day, :month, :year] %>
        </div>
        <div class="col-md-6">
        <%= f.label "Fecha de Fin" %>
          <%= f.date_select :end_date, :order => [:day, :month, :year] %>
        </div>
      </div>
      <%= f.submit "Buscar", class: 'btn btn-primary' %>
    </div>
<% end %>


<!-- Reservas realizdas -->

<div class="row" style="
  padding: 50px; 
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #D8D8D8; 
  margin-right:30px; 
  margin-left:30px;
  margin-top: 15px;
  margin-bottom:40px;"
>     
  <div class="row">
    <div class="col-md-12"><h2>Reservas concretadas</h2></div>
  </div>

  <div class="row" style="background-color:#F2F2F2">
    <div class="col-md-12">
      <table class="table">
   <tr>
       <td>Usuario</td>
       <td>Fecha Inicio</td>
       <td>Fecha Final</td>
       <td>Couch</td>

   </tr>
   <%  
    @reservations.each do |res|  
       if (res.is_reservado?)
   %>
       <tr>
          <td>
             <%= res.user.first_name %>
          </td>
          <td>
        <%= res.start_date %>
          </td>
          <td>
        <%= res.end_date %>
          </td>
          <td>
        <%= link_to Couch.find(res.couch_id).titulo, Couch.find(res.couch_id) %>
          </td>
       </tr> 
   <% end end %>
</table>
    </div>
  </div>
</div>


